
.priceContainer, .introContainer, .foodContainer, .funContainer, .choicesContainer {
  text-align: center;
  font-family: "courier";

}
.brand{
  font-family: "courier";
}
/* the following  components are found on the intro page...mostly*/
.introDiv{
  font-family: "courier";
}
.listingStyle{
  list-style-type: none;
  font-family: "courier";
}
.btn-secondary{
  font-family: "courier";
}
.introModal > .modal-content {
  background-image: url(images/parchment.jpg);
  background-size: 100%;
  font-family: "courier";
  width: 500px;

}

#h2Modal{
  margin-bottom:25px;
  font-weight: bold; 
}
body .introModal {
  width: 750px;
  }
/*-------------------------------------------------------------------- */

/* the following  components are found on the navbar in the maps page*/
.navbar-brand{
  font-family: "courier";
}
.dropdown-toggle{
  font-family: "courier";
}
.nav-link{
  font-family: "courier";
}
.dropdown-item{
  font-family: "courier";
}
/*-------------------------------------------------------------------- */
button.btn.btn-secondary {
  margin:10px;
  font-family: "courier";
}

img{
  margin: 10px;
}