
.priceContainer, .introContainer, .foodContainer, .funContainer, .choicesContainer {
  text-align: center;
}

.listingStyle{
  list-style-type: none;
}

button.btn.btn-secondary {
  margin:10px;
}

img{
  margin: 10px;
}